body {
  background: #EEE;
  margin: 0;
  padding: 0;
}

/* Navigation */

.squareImage{
  width: 50%;
}

.column{
  box-sizing: border-box;
  background-color: SteelBlue;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navigation4{
  box-sizing: border-box;
  background-color: #4AE836;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 888;
}

.navigation3{
  box-sizing: border-box;
  background-color: #36C7E8;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 888;
}

.navigation2{
  
  box-sizing: border-box;
  background-color: #3587A4;
  background-image: url(titleImage.jpeg);
  color: black;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.titles2{
  box-sizing: border-box;
  background-color: #0FB5ED;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.container {
    position: relative;
    font-family: Arial;
    width:100%;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.text-block2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation {
  box-sizing: content-box;
  background-color: #228B22;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.table{
  background-color: #228B22;
  color: white;

}



.subtitles{
  color: #1E90FF;
}

.thbox{
  background-color: #3587A4;
  color: white;
}

.th{
  color: white;
}

.td{
  color: black;
  text-decoration: none;

}

.teacherLink{
  color: black;
  text-decoration: none;
}

.link{
  color: white;
  text-decoration: none;
}

.link2{
  color: black;
  text-decoration: none;
}

.link3{
  color: #1E90FF;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: #FFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}

.active {
  color: #88CCF1;
}

/* Table */

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: #88CCF1;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}

.search {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #AAA;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}

.search2{
  background-color: Gainsboro;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: black;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}

.searchImages{
  background-color: Gainsboro;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: black;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 77%;
  display: block;
}

.search3{
  background-color: #3587A4;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: white;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}

.element{
  color: black;
}


.imagesCentre {
    display: inline-block;
    margin-left: 530px;
    width: 250px;
    height: 250px;
    
}


.imagesRounded{
    border-radius: 8px;
}

.imagesResponsive {
    max-width: 100%;
    height: auto;
}

div.imagesPolaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 100%}

div.imagesContainer {
    text-align: center;
    padding: 10px 20px;
}


.videos{
  display: block;
  padding: 20px;
}

.available{
  background-color: green;
  color: white;
}

.unavailable{
  background-color: red;
  color: white;
}

.full{
  background-color: blue;
  color: white;
}